.signup-page{
    height: 800px;
    width: 800px;
    background-color: aquamarine;
    margin-left: 270px;
}
body{
    background-image: url(../assets/img/2.jpg);
}
.add{
    height: 600px;
    width: 400px;
    background-color: rgb(255, 221, 28);
    padding-bottom: 200px;
}
.page{
    height: 400px;
    width: 350px;
    background-color: aliceblue;
    margin-left: 425px;
    padding-bottom: 400px;
}